In [15]:
import sqlite3
import csv

In [17]:
conn = sqlite3.connect("users.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    email TEXT
)
""")

conn.commit()

In [18]:
with open("/content/users.csv", "r") as file:
    reader = csv.reader(file)
    next(reader)

    for row in reader:
        cur.execute(
            "INSERT INTO users (name, email) VALUES (?, ?)",
            (row[0], row[1])
        )

conn.commit()

In [19]:
cur.execute("SELECT * FROM users")
print(cur.fetchall())
conn.close()

[(1, 'Amit', 'amit@gmail.com'), (2, 'Riya', 'riya@gmail.com'), (3, 'Kunal', 'kunal@gmail.com'), (4, 'naman', 'naman@gmail.com'), (5, 'puja', 'puja@gmail.com')]